<div class="container weather_show" style="background-image: url(<%= image_url(@city.parameterize + '.jpg') %>);">

  <h1><%= @city %></h1>
  <p>Temperature: <%= @weather.temperature %>°F</p>
  <p>Rain: <%= @weather.rain %>%</p>
  <p>Relative Humidity: <%= @weather.humidity %></p>

</div>
