<div class="container-fluid">

  <div id="header-bg" style="background: url(<%= image_url('bg-header.jpg') %>)">

    <div class="tint">

      <header>

        <div class="container">

          <div class="row" id="top-bar">

            <div id="logo">

              <%= image_tag 'surf_paddle_logo.png' %>
              <span id="logo_text"><%= link_to "SURF & PADDLE CO. BLOG", root_path %></span>

            </div>

            <div id="menu">

              <ul class="list-inline">

                <li><a href="#">About</a></li>
                <li><a href="#">Search <span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></li>

              </ul>

            </div>

          </div>

          <div id="center_logo">

            <h1>SURF & PADDLE CO.</h1>
            <span>An Iron Yard Academy Project</span>

          </div>

        </div>

      </header>

    </div>

  </div>

  <div class="container">

    <main class="row">

      <section id="article" class="col-md-6">

        <h1><%= @title %></h1>
        <a href=""><%= image_tag 'author.png' %></a> on Sunday <a href="#">May 24, 2015 10:15 PM</a>

        <div id="content"><%= @content %></div>

        <div>
          <a href="#"><%= image_tag "comments.png" %></a>
          <a href="#"><%= image_tag "read_later.png" %></a>
          <a href="#"><%= image_tag "share_post.png" %></a>
        </div>

      </section>

      <section id="right_column" class="col-md-6">

        <div id="top"><%= image_tag "top_right.png" %></div>

        <div id="mid" style="background-image: url(<%= image_url('surfer1.jpg') %>)"><div class="light-tint img-responsive"></div></div>

        <div id="bottom">
          <h3>WATBAR HEADING</h3>
          Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. <a href="#">Pellentesque auctor</a> nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros.</div>

      </section>

    </main>

  </div>

  <div class="clear">
  <hr style="color: #ECF0F1">

  <footer>

    <h1>MOST POPULAR POSTS</h1>

    <% @posts[1..4].each do |post| %>
      <div class="post-block img-responsive" style="background-image: url(<%= image_url(post.image) %>)">
          <%= link_to raw("<div class='light-tint'><span>" + post.title + "</span></div>"), post_path(post_title: post.title.parameterize) %>
      </div>
    <% end %>

    <div id="bottom_nav" class="clear">
      <div class="container">
        <div id="bottom_nav_items">
          <%= image_tag "ironyard.jpg" %>
          <span>The Ironyard © 2015, All Rights Reserved </span>
          <ul class="list-inline">
            <li><a href="#">Nav Item 1 |</a></li>
            <li><a href="#">Nav Item 2 |</a></li>
            <li><a href="#">Nav Item 3 |</a></li>
            <li><a href="#">Nav Item 4</a></li>
          </ul>
        </div>
      </div>
    </div>

  </footer>

</div>
