<div class="container">

  <header>

    <div class="tint">

      <div class="wrapper">

        <div id="top-bar">

          <div id="logo">

            <%= image_tag 'surf_paddle_logo.png' %>
            <span id="logo_text"><a href="#">SURF & PADDLE CO. BLOG</a></span>

          </div>

          <div id="menu">

            <ul>

              <li><a href="#">About</a></li>
              <li><a href="#">Search <i class="fa fa-search"></i></a></li>

            </ul>

          </div>

        </div>

        <div id="center_logo">

          <h1>SURF & PADDLE CO.</h1>
          <span>An Iron Yard Academy Project</span>

        </div>

      </div>

    </div>

  </header>

  <div class="wrapper">

    <main>

      <section id="article">

        <h1><%= @title %></h1>
        <a href=""><%= image_tag 'author.png' %></a> on Sunday <a href="#">May 24, 2015 10:15 PM</a>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <p>Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros. Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem facilisis <a href="#">semper ac in est</a>.</p>

        <blockquote>WAT, THAT'S AWESOME!</blockquote>

        <p>Vivamus fermentum semper porta. Nunc diam velit, adipiscing ut tristique vitae, sagittis vel odio. Maecenas convallis ullamcorper ultricies. <a href="#">Curabitur ornare</a>, ligula semper consectetur sagittis, nisi diam iaculis velit, id fringilla sem nunc vel mi. Nam dictum, odio nec pretium volutpat, arcu ante placerat erat, non tristique elit urna et turpis. Quisque mi metus, ornare sit amet fermentum et, tincidunt et orci. Fusce eget orci a orci congue vestibulum.</p>

        <p>Ut dolor diam, elementum et vestibulum eu, porttitor vel elit. Curabitur venenatis pulvinar tellus gravida ornare. Sed et erat faucibus nunc euismod ultricies ut id justo. Nullam cursus suscipit nisi, et ultrices justo sodales nec. Fusce venenatis facilisis lectus ac semper. Aliquam at massa ipsum. Quisque bibendum purus convallis nulla ultrices ultricies. Nullam aliquam, mi eu aliquam tincidunt, purus velit laoreet tortor, viverra pretium nisi quam vitae mi. Fusce vel volutpat elit. Nam sagittis nisi dui.</p>

        <div>
          <a href="#"><%= image_tag "comments.png" %></a>
          <a href="#"><%= image_tag "read_later.png" %></a>
          <a href="#"><%= image_tag "share_post.png" %></a>
        </div>

      </section>

      <section id="right_column">

        <div id="top"><%= image_tag "top_right.png" %></div>

        <div id="mid" style="background-image: url(/assets/surfer1.jpg)"><div class="light-tint"></div></div>

        <div id="bottom">
          <h3>WATBAR HEADING</h3>
          Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. <a href="#">Pellentesque auctor</a> nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros.</div>

      </section>

    </main>

  </div>

  <div class="clear">
  <hr style="color: #ECF0F1">

  <footer>

    <h1>MOST POPULAR POSTS</h1>

    <div class="post-block" style="background-image: url(/assets/surfer2.jpg)">
      <a href="#">
        <div class="light-tint">
          <span>ANOTHER COOL POST</span>
        </div>
      </a>
    </div>

    <div class="post-block" style="background-image: url(/assets/beer1.jpg)">
      <a href="#">
        <div class="light-tint">
          <span>POST TITLE</span>
        </div>
      </a>
    </div>

    <div class="post-block" style="background-image: url(/assets/surfer3.jpg)">
      <a href="#">
        <div class="light-tint">
          <span>HERE'S ANOTHER LONGER POST TITLE</span>
        </div>
      </a>
    </div>

    <div class="post-block" style="background-image: url(/assets/beers2.jpg)">
      <a href="#">
        <div class="light-tint">
          <span>OH COOL A POST!</span>
        </div>
      </a>
    </div>

    <div id="bottom_nav" class="clear">
      <div class="wrapper">
        <div id="bottom_nav_items">
          <%= image_tag "ironyard.jpg" %>
          <span>The Ironyard © 2015, All Rights Reserved </span>
          <ul>
            <li><a href="#">Nav Item 1 |</a></li>
            <li><a href="#">Nav Item 2 |</a></li>
            <li><a href="#">Nav Item 3 |</a></li>
            <li><a href="#">Nav Item 4</a></li>
          </ul>
        </div>
      </div>
    </div>

  </footer>

</div>
